# Do not commit your actual .env file to Git! This may contain secrets or other
# private information.

# Enable/disable step debug logging (default: `false`). For local debugging, it
# may be useful to set it to `true`.
ACTIONS_STEP_DEBUG=true

# GitHub Actions inputs should follow `INPUT_<name>` format (case-sensitive).
# Hyphens should not be converted to underscores!
INPUT_VERSION=3.9.16
# INPUT_MIRROR-URL=""
# INPUT_MIRROR-TOKEN=""

# Directories used by @actions/tool-cache. Point them at scratch directories
# when running the action locally with `npm run local-action`.
# RUNNER_TOOL_CACHE=""
# RUNNER_TEMP=""
